* {
	box-sizing: border-box;
	font-family: Arial;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

.clr {
	clear: both;
}

/*================================================*/
/*HEADER*/
/*================================================*/
#page_header {
	min-height: 50px;
	margin: 0px;
	padding: 0px;
	background-color: blue;
}

/*================================================*/
/*MAIN*/
/*================================================*/
#page_main {
	min-height: 500px;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

#page_menu {
	min-height: 500px;
	float: left;
	width: 20%;
	background-color: #ffe6e6;
}

#page_menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#page_menu ul li {
	margin: 0px;
	padding: 0px;
}

#page_menu ul li a {
	border: 1px solid red;
	display: block;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	color: black;
}

#page_menu ul li a:hover {
	color: white;
	background-color: red;
}

#page_content {
	min-height: 500px;
	float: right;
	width: 78%;
	background-color: #ffe6e6;
}

#page_content h1 {
	text-align: center;
}

table {
	margin: 0px auto;
	padding: 0px;
	border: 2px solid #fff;
	border-collapse: collapse;
	width: 60%;
} 

table tr td {
	border: 1px solid #fff;
	margin: 0px;
	padding: 10px;
	font-size: 18px;
}

table tr td input[type=text], input[type=password], input[type=email] {
	width: 200px;
}

table tr td input[type=radio] {
	width: 15px;
	height: 15px;
	margin-right: 30px;
}

.label_input {
	color: red;
}

iframe {
	display: block;
	margin: 0px auto;
}

/*================================================*/
/*FOOTER*/
/*================================================*/
#page_footer {
	min-height: 30px;
	margin: 0px;
	padding: 0px;
	background-color: black;
}